<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
</head>
<body>
    <h1>Welcome to admin page</h1>
    ยังไมทำ มาทางไหนกลับทางเดิมเลยครับ
    <a href="javascript:window.history.back();">กลับ</a>
</body>
</html>