<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/gossip.css">
    <title>LOCAL</title>
</head>

<body>
    <div class="container">
        <nav>
            <a href="/"><i class="bi bi-backspace"></i></a>
            <h1>นินทาประจำวันที่ : <%= dates%>
            </h1>
            <h1></h1>
        </nav>

        <div class="text-container" id="textContainer">
            <% datas.forEach(d=> {%>
                <p class="text">
                    <%= d.text %>
                </p>
                <%}); %>

        </div>

        <footer>
            <form action="/text" method="post">
                <input type="text" id="chatInput" name="text" placeholder="..." autofocus>
                <button type="submit">ส่ง</button>
            </form>
        </footer>

    </div>
</body>

<script>
    function scroll() {
        const container = document.getElementById('textContainer');

        container.scrollTop = container.scrollHeight;
    }

    document.addEventListener('onload', scroll())
</script>

<script>
    // const ws = new WebSocket('ws://' + window.location.host);

    // ws.onmessage = (event) => {
    //     const container = document.getElementById('textContainer');
    //     const p = document.createElement('p');
    //     p.classList.add('text');
    //     p.textContent = event.data;
    //     container.appendChild(p);
    //     container.scrollTop = container.scrollHeight;
    // };

    // function sendMessage() {
    //     const input = document.getElementById('chatInput');
    //     const message = input.value;
    //     if (message.trim() !== '') {
    //         ws.send(message);
    //         input.value = '';
    //     }
    // }

    // // auto scroll ลงล่าง
    // window.onload = () => {
    //     const container = document.getElementById('textContainer');
    //     container.scrollTop = container.scrollHeight;
    // }
</script>

</html>