<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/map.css">
</head>

<body>
    <nav>

        <div class="logo"><a href="/"><img src="/img/logo.png" alt=""></a></div>

        <ul>
            <li><a class="hi" href="/schedule">หน้าแรก</a></li>
        </ul>

    </nav>
    <div class="container">
        <img src="../img/map.jpg" alt="">

        <div class="duty">
            <p>
                <h1>ประกาศหน้าที่ (ฉบับล่าสุด ปีการศึกษา2568)</h1>
                <br>
                <h3>ยืนเวรเช้า-เย็น หน้าป้อมยาม</h3>
                วันจันทร์ : นันทวรรณ พรทิพย์<br>
                วันอังคาร : เบญจมาศ ตรีดามาส<br>
                วันพุธ : ศุภชัย ณัฐนันท์<br>
                วันพฤหัสบดี : นันทวรรณ พรทิพย์<br>
                วันศุกร์ : เบญจมาศ ตรีดามาส<br>
                <br><br>
                <h3>ยืนเวรหน้าสวนทรายขาว (เช้า)</h3>
                จันทร์ : ศราวุธ จันทกานต์<br>
                อังคาร : ทินภัทร นวนนท์<br>
                พุธ : ณัฐพงค์ กมลลักษณ์<br>
                พฤหัสบดี : ศิรเมท ศุภฤกษ์ ปาณัสม์ ศิวกร<br>
                ศุกร์ : วิรัช นวนนท์ ณัฐพงษ์<br>
                <br><br>
                <h3>ยืนส่งน้องตอนเย็น ของทุกวัน (นอกเหนือจากคนยืนเวร หน้าป้อมยามปกติ )</h3>
                จุดที่ 1 ด้านหน้าโรงยิม : ศิรเมท ศุภฤกษ์ ทินภัทร<br>
                จุดที่ 2 สวนสุขภาพ : ธนากร วิรัช เฉลิมศักดิ์ ศิวกร<br>
                จุดที่ 3 โค้งบ้านพักครู : ณัฐพงค์ กมลลักษณ์ ปาณัสม์ ศราวุธ<br>
                จุดที่ 4 ป้ายสวนสุขภาพ : เบญจมาศ ตรีดามาส จันทกานต์<br>
                <br><br>
                <h3>เวรตรวจเขตพื้นที่ 5 ส. เเละ อาคาร(เช้า-เย็น)</h3><br>
                <h4>เขตพื้นที่ 5 ส. ม.1-3</h4>
                1.ศิรเมท
                2.ปาณัสม์
                <br><br>
                <h4>เขตพื้นที่ ม.4-6</h4>
                1.ศุภฤกษ์<br>
                2.ศุภชัย เส้งอั้น
                <br><br>
                <h4>เวรตรวจความสะอาดห้องเรียน (รับผิดชอบเป็นอาคาร )</h4>
                อาคาร 1 : วิรัช อรปรียา
                อาคาร 2 : เบญจมาศ ตรีดามาส
                อาคาร 3 : ศราวุธ นันทวรรณ

            </p>
        </div>
    </div>

</body>

</html>