<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/portfolio.css">
</head>

<body>

    <div class="container">

        <h1>ผลงานอันน้อยนิดของ Supparerk</h1>

        <div class="vid-con">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y9FnuVdUIRk?si=Y5s8ysvDDOZrCOAS"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/WkTQ-l-ZnF4?si=43Lr98REyaFjw3zM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

        <p>ความจริงแล้วผมมีผลงานเยอะกว่านี้แต่มันหายไปกับเครื่องเก่าเสียหมดแล้ว นี่เป็นผลงานที่ยังหลงเหลืออยู่ และนี่ยังไม่ใช่ผลงานที่ดีที่สุดของผมเป็นเรื่องน่าเสียดายที่ผมนำมาให้รับชมไม่ได้แล้ว และผมหวังว่าครั้งนี้ผมจะได้ประสบการณ์มากมาย ขอบคุณสำหรับโอกาศครั้งนี้</p>

    </div>
</body>

</html>