<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/schedule.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav>

        <div class="logo"><a href="/home"><img src="/img/logo.png" alt=""></a></div>
        
        <div class="user">
            <a href="/home" class="back">กลับหน้าหลัก</a>
        </div>

    </nav>

    <div class="container">
        <div class="link">
            <a href="/area">
                <i class="bi bi-tree"></i>
                <p>ตรวจ 5ส.</p>
            </a>
            <a href="/roomone">
                <i class="bi bi-brightness-high"></i>
                <div>ตรวจห้องเช้า</div>
            </a>
            <a href="/roomtwo">
                <i class="bi bi-moon"></i>
                <div>ตรวจห้องเย็น</div>
            </a>
            <a href="/map">
                <i class="bi bi-map"></i>
                <div>แผนที่</div>
            </a>
            <a href="/history">
                <i class="bi bi-clock-history"></i>
                <div>ประวัติ</div>
            </a>
        </div>

    </div>
</body>
</html>