* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(63, 66, 126);
    background: linear-gradient(90deg, rgb(33, 35, 65) 0%, rgba(165, 42, 42, 1) 100%);
}

.password-container {
    background-color: white;
    width: 100%;
    max-width: 500px;
    margin: auto;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 50px white;

    form {
        display: flex;
        flex-direction: column;
        text-align: center;

        input[type="password"] {
            margin: 5px 0;
            padding: 5px;
        }

        button {
            position: relative;
            z-index: 1;
            background-color: green;
            color: white;
            border: none;
            padding: 5px;

            &::before{
                position: absolute;
                content: "";
                background: lightgreen;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;      
                z-index: -1;
                transition: width 0.3s ease;
            }
            &:hover::before{
                width: 100%;
            }
            &:hover{
                color: black;
            }
        }

        .toBack {
            a {
                position: relative;
                z-index: 1;
                color: black;
                text-decoration: none;
                margin: 0 10px;
                padding: 10px 10px;

                &::before{
                    position: absolute;
                    content: "";
                    background: lightgray;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;      
                    z-index: -1;
                    transition: width 0.3s ease;
                }

                &:hover::before{
                    width: 100%;
                }
                &:hover{
                    color: black;
                }
            }

        }

        hr {
            margin: 10px 0;
        }

    }
}